*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(35, 38, 40);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 14px;
    align-items: center;
}
header .logo img{
    width:100%;
    height:100px;
}
.top-left select{
    display: flex;
    display: inline-block;
    background-color: rgb(35, 38, 40);
    color: white;
    padding: 5px;
    font-size: 15px;
}
.top-left option{
    background-color: rgb(35, 38, 40);
    color: white;
}
.top-center{
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.top-center p{
    margin: 20px;
}
.top-right a{
    color:white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
}
.top-right a:hover {
    color: blue;
}
nav{
    display:flex;
    background-color: #fff;
    align-items: center;
    box-sizing: border-box;
    justify-content:space-between;
    z-index: 1;
    position:sticky;
    top:0;
    right:0;
    left:0;
}
nav .login{
    display:flex;
    gap:10px;
}
nav .login button{
    border:none;
    background-color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
nav .login button:hover{
    color:chocolate;
}
nav .main-nav{
    list-style-type: none;
    display:flex;
    margin:0;
}
nav .main-nav li{
    padding:10px 30px;
}
nav .main-nav li a{
    display:block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color:black;
    text-decoration: none;
}
nav .main-nav a:hover{
    color:chocolate;
}
nav .sub-nav{
    display:none;
    background-color: #fff;
    position:absolute;
    left:16.5%;
    top:100%;
}
nav .sub-nav li{
    display:block;
    padding:5px 20px 5px 0;
}
nav li:hover .sub-nav{
    display:block;
}
nav .menu{
    display:none;
}
.main{
   width: 100%;
   height: 700px;
   margin: auto;
   box-shadow: 0px 0px 3px grey;
   position: relative;
   overflow: hidden;
   z-index: 0;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    z-index: 0;
    background-color: #ccc;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 300px 20px 0 20px;
    position: relative;
    z-index: 1;
}
.nav button{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 10px;
    padding: 0px;
    width: 30px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.content{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    font-size: 16px;
    position: absolute;
    box-sizing: border-box;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 50px;
    color: #D3D3D3;
    text-shadow: 2px 3px 2px black;
}
.content h1{
    font-size: 48px;
}
.content p{
    font-size: 24px;
    margin: 20px 0;
}
.bold{
    font-size: 40px;
    font-weight: bold;
    color: #f3c026;
}
.button{
    padding: 15px 25px;
    background-color: #4471ef;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}
.button:hover{
    background-color: aqua;
    color: #6c6b6b;
    transform: scale(1.1);
}
.search{
    font-size: 15px;
    margin-bottom: 20px;
    background-color: #424242;
    padding: 10px;
    margin: 0 auto;
    width: 65%;
    text-align: center;
    z-index: 2;
}
.search h2{
    padding: 10px;
    color: #fff;
}
select, button{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 200px;
}
.button1{
    background-color: #424242;
    border: 2px solid #f3c026;
    border-radius: 2px;
    color: #fff;
    width: 150px;
    font-weight: bold;
}
.button2{
    background-color: blue;
    color: yellow;
    padding: 0px;
    margin-left: 8px;
    width: 40px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
}
.button2:hover{
    transform: scale(1.05);
}
.button1:hover{
    transform: scale(1.1);
}
.ti-reload{
    color: #fff;
    background-color: #4471ef;
    border-radius: 5px;
    padding: 10px;
}
.recent{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.recent h1{
    font-size: 35px;
    padding: 20px;
}
.list{
    width: 65%;
    margin: 0 auto;
    padding-top: 40px;
}
.list img{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    display: block;
}
.list img:hover{
    transform: scale(1.02);
}
.list p{
    text-transform: uppercase;
    padding: 5px;
    font-size: 15px;
}
.list a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.list span{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(9, 137, 223, 0.855);
}
.box{
    height: 250px;
    border-bottom: 1px solid black;
    
}
.box span:hover{
    color: red;
}
.sub-car{
    display: flex;
    text-align: left;
}
.sub-car p{
    font-size: 12px;
    margin: 10px 5px 5px 5px;
    overflow: hidden;
}
.sub-car i{
    margin-left: 4px;
}
.check{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-image: url('images-inventory/nen1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.check1{
    text-align: center;
    background-color: #fff;
    display: inline-block;
    color: black;
    width: 540px;
    padding: 20px;
    margin: 10px;
}
.check2{
    text-align: center;
    background-color: #f3c026;
    display: inline-block;
    color: black;
    width: 540px;
    padding: 20px;
    margin: 10px;
}
.emty0{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
}
.emty{
    background-color: #fff;
    display: inline-block;
    border: 1px solid rgb(69, 68, 68);
    color: black;
    width: 340px;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}
.emty p{
    color: rgb(143, 143, 143);
    font-size: 18px;
}
.smart{
    background-image: url('images-inventory/nen2.jpg');
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}
.smart1{
    box-sizing: border-box;
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
}
.smart1 h4{
    padding: 10px;
    margin: 10px;
}
.smart1 p{
    font-size: 20px;
}
.smart1 span{
    color: #4471ef;
    font-size: 50px;
}
.infor{
    text-align: center;
    background-color: rgb(236, 236, 236);
}
.image2 img{
    width: 65%;
    height: auto;
}
.infor1{
    display: flex;
    justify-content: center;
}
.infor1-1{
    padding: 50px;
    line-height: 30px;
    width: 1100px;
}
.infor1-1 h2{
    padding: 20px;
    font-size: 30px;
}
.play-button{
    width: 70px;
    height: 70px;
    background-color: #3a45c5;
    border-radius: 50%;
    border: 1px solid white;
    margin: 20px auto;
    cursor: pointer;
    margin-top: 70px;
    box-shadow: 0 30px 0 #3a45c5,0 20px 0 #3a45c5,0 10px 0 #3a45c5;
}
.play-button i{
    color: white;
    font-size: 1.5em;
    margin: 21px 0 0 6px;
}
.play-button:hover{
    transform: scale(1.1);
}
.contact{
    background-color: #f3c026;
}
.contact ul{
    text-align: center;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
}
.contact li{
    color: black;
    margin: 10px 0;
    font-size: 18px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}
.list1{
    width: 65%;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 50px;
}
.list1 h5{
    font-size: 15px;
}
.list1 img{
    width: 20%;
    height: 25%;
    display: inline-block;
}
.list1 p{
    padding: 5px;
    font-size: 13px;
}
.list1 a{
    text-decoration: none;
    color: #4471ef;
    font-size: 14px;
}
.box1{
    height: 200px;
    border-bottom: 1px solid black;
}
.text{
    text-align: left;
    margin: 10px;
}
.text h5{
    font-size: 15px;
}
.text form{
    width: 100%;
}
.text p{
    font-size: 13px;
    margin: 0px 5px 0 5px;
}
.text i{
    margin-left: 4px;
}
.bottom{
    border-top: 2px solid #6c6b6b;
    text-align: center;
}
.bottom a{
    color: #f3c026;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}
.bottom a:hover {
    color: #4471ef;
}
@media screen and (max-width:768px){
    
    header{
        height: 65px;
        overflow: hidden;
        box-sizing: border-box;
        flex-direction: column;
        display:block;
        justify-content: left;
    }
    header:hover{
        height: 200px;
        transition: all 1s;
    }
    header .logo img{
        width:200px;
        position:absolute;
        top:-10px;
    }
    header .top-center{
        margin-top: 30px;
        font-size: 14px;
    }
    .main{
        width:100%;
        height:100%;
    }
    nav{
        overflow:hidden;
        flex-direction: column; 
    }
    nav .main-nav{
        flex-direction: column;   
        width:100%;
        display:none;
        padding:0;
    }

    .main-nav.menuclick{
        display:flex;
    }
    nav .menu{
        display:block;
        color:black;
        font-size: 20px;
        padding:0 10px;
        margin-right: auto;
    }
    main .nav button{
        position:relative;
        top:-150px;
    }
    nav .sub-nav{
        display:none;
        background-color: #fff;
        position:absolute;
        top:60%;
    }
    nav .sub-nav li{
        display:inline-block;
    }
    nav li:hover .sub-nav{
        overflow:hidden;
    }   

    .content{
        height: 100px;
    }
    .content h1{
        text-transform: uppercase;
        color: #D3D3D3;
        font-size: 25px;
    }
    .content p{
        font-size: 17px;
        margin: 5px;
    }
    .bold{
        font-size: 17px;
        font-weight: bold;
        color: #f3c026;
    }
    .button{
        width: 100px;
        height: 50px;
        font-size: 15px;
        padding: 3px 10px;
        background-color: #4471ef;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 20px;
    }
    .button:hover{
        background-color: aqua;
        color: #6c6b6b;
        transform: scale(1.1);
    }
    .list p{
        font-size: 12px;
    }
    .list a{
        font-size: 12px;
        display: flex;
        flex-direction: column;
    }
    .list img{
        width: 100%;
        height: 55%;
        border-radius: 5px;
    }
    .search{
        width: 60%;
        font-size: 16px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search h2{
        font-size: 18px;
    }
    .search select{
        display: flex;
        flex-direction: column;
    }
    .check{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .emty0{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .emty{
        width: 60%;
        height: 250px;
    }
    .box1{
        height: 220px;
        overflow: hidden;
        flex-wrap: wrap;
    }
}